* {
    font-family: 'Poppins', sans-serif;
}

.bglightyellow {
    background-color: #F9F1E7;
}

.bgyellow {
    color: #B88E2F;
}

.my {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mb {
    margin-bottom: -10px;
}

.bg_random {
    background: #FCF8F3;
}

/* Image Overlay Banner*/
.card_img {
    height: 180px;
    width: 208px;
}

.card_img {
    position: absolute;
    top: 4px;
    right: 90px;
    bottom: 0;
}

.title {
    color: #B88E2F;
    font-size: 1rem;
}

.bg {
    background-color: #B88E2F;
    padding: .5rem;
}

.bgBtn {
    background-color: #B88E2F;
    color: #fff;
    text-decoration: none;
    padding: 7px 44px;
    border-radius: 2px;
}

.text-light {
    text-decoration: none;
    font-size: .6rem;
}

.card-subtitle {
    font-size: .6rem;
}

.text {
    font-size: .6rem;
}

.Heading-1 {
    font-size: 1rem;
}

.Heading-2 {
    font-size: 1.5rem;
}

.Heading-3 {
    font-size: 1rem;
}

/* Cards  Hover-Effect*/

.overlay {
    position: absolute;
    background: rgba(0 0 0/50%);
    top: 0;
    width: 100%;
    height: 0;
    padding: 2.2rem;
    overflow: hidden;
    transition: 0.7s;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    height: 100%;
    transition: 0.7s;
}

/* Blog Page Start*/
.card-text {
    padding-right: 20px;
    color: #9F9F9F;
}

.text-grey {
    color: #9F9F9F;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-recent-grey {
    color: #9F9F9F;
}

.img {
    width: 817px;
    height: 250px;
}

.head {
    font-size: .6rem;
}

/* Recent Posts*/
.texthead {
    font-size: .6rem;
}

.categorieshead {
    font-size: 0.9rem;
}

.imgRecent {
    width: 3.2rem;
    height: 3.2rem;
}

/* Blog Page End*/

/* Slider  */
.d-block {
    height: 582px;
    width: 404px;
    margin: 0 20px;
}

/* Checkout */
.text-head {
    color: #9F9F9F;
    text-decoration: dotted;
}

.text-paragraph {
    font-size: 0.6rem;
}

/* Single Product */

.after::after {
    content: '>';
    font-size: 1.2rem;
    color: #000;
    padding-left: 12px;
}

.fa-solid {
    color: #FFC700;
}

.dot {
    background: #816DFA;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

.dot:nth-child(2) {
    background: #000000;
}

.dot:nth-child(3) {
    background: #B88E2F;
}

.before::before {
    content: ':';
    font-size: 1.2rem;
    padding: 0 10px;
    color: #9F9F9F;
}

.t-b {
    padding-top: 7px;
    padding-bottom: 6px;
}

/* Contact */
.contacthead {
    font-size: 1rem;
}

/* Footer */
.footer {
    margin-top: auto;
}

.py-6 {
    padding-top: 3rem;
    /* padding-bottom: .2rem; */
}

.list-group-item {
    font-size: 1rem;
}

.white-space {
    white-space: pre-line;
}

.white-space-pre {
    white-space: pre;
}

.white-space-wrap {
    white-space: wrap;
}

.pt-half {
    padding-top: 1rem;
}


/* Shop Page*/
/* Banner */
.link-black {
    text-decoration: none;
    color: #000;
}

.w-20 {
    width: 28%;
}

/* Show-More-Button */
.show-btn {
    color: #B88E2F;
    border: 1px solid #B88E2F;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.75rem 3.875rem;
    margin-top: 2rem;
}

/* Primary-Button */
.primary-btn {
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 15px;
}

/* Secondary-Button */
.secondary-btn {
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 15px;
    font-size: .8rem;
    padding: .8rem 2rem;
    margin-top: .5rem;
}

/* Counter-Button */
.counter-btn {
    /* font-size: 1.2rem; */
    color: #000;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
}
/* Cart Image */
.cart-img {
    width: 1.9375rem;
    height: 1.625rem; 
}
/* Pagination */
.pag {
    font-size: .8rem;
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .card_img {
        height: 260px;
        width: 338px;
    }

    .card_img {
        top: 4rem;
        right: 3.3rem;
        bottom: 0;
    }

    .text {
        font-size: .8rem;
    }

    .card-subtitle {
        font-size: .8rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-light {
        font-size: .8rem;
    }

    .Heading-1 {
        font-size: 1.5rem;
    }

    .Heading-2 {
        font-size: 2rem;
    }

    .bgBtn {
        padding: 10px 40px;
        border-radius: 2px;
    }

    /* Blog */
    .img {
        width: 817px;
        height: 250px;
    }

    .texthead {
        font-size: .8rem;
    }

    .categorieshead {
        font-size: 0.9rem;
    }

    .imgRecent {
        width: 4rem;
        height: 4rem;
    }

    /* Contact */
    .contacthead {
        font-size: 1rem;
    }

    /* Checkout */
    .text-paragraph {
        font-size: 0.8rem;
    }

    /* Single Product */
    .head {
        font-size: 1rem;
    }

    /* Show-More-Button */
    .show-btn {
        color: #B88E2F;
        border: 1px solid #B88E2F;
        text-decoration: none;
        font-size: 0.8rem;
        padding: 0.75rem 3.875rem;
        margin-top: 2rem;
    }


    /* Secondary-Button */
    .secondary-btn {
        font-size: 1rem;
        padding: 1rem 2.5rem;
        margin-top: .2rem;
    }

    /* Cart Image */
    .cart-img {
        width: 4.9375rem;
        height: 4.625rem;
    }

    /* Pagination */
    .pag {
        font-size: 1rem;
    }
}

@media screen and (min-width:1040px) {

    /* Image Overlay Banner*/
    .card_img {
        height: 443px;
        width: 643px;
    }

    .card_img {
        top: 10rem;
        right: 6rem;
        bottom: 0;
    }

    .title {
        font-size: 3.25rem;
    }

    .bg {
        background-color: #B88E2F;
        padding: 34px 100px;
    }

    .text-light {
        font-size: 1rem;
    }

    .card-subtitle {
        font-size: 1rem;
    }

    .text {
        font-size: 1rem;
    }

    .Heading-1 {
        font-size: 2rem;
    }

    .Heading-2 {
        font-size: 2.5rem;
    }

    .Heading-3 {
        font-size: 3rem;
    }

    .bgBtn {
        padding: 14px 88px;
        border-radius: 2px;
    }

    /* Blog */
    .img {
        width: 817px;
        height: 500px;
    }

    .categorieshead {
        font-size: 1.3rem;
    }

    .imgRecent {
        width: 5rem;
        height: 5rem;
    }

    /* Contact */
    .contacthead {
        font-size: 1.5rem;
    }

    /* Checkout */
    .text-paragraph {
        font-size: 0.9rem;
    }

    .texthead {
        font-size: 1rem;
    }

    .head {
        font-size: 1.5rem;
    }

    /* Show-More-Button */
    .show-btn {
        color: #B88E2F;
        border: 1px solid #B88E2F;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.75rem 4.875rem;
        margin-top: 2rem;
    }

    /* Primary-Button */
    .primary-btn {
        font-size: 1.2rem;
        padding: 1.1rem 6.375rem;
        margin-top: 2rem;
    }

    /* Secondary-Button */
    .secondary-btn {
        font-size: 1.2rem;
        padding: 1.1rem 3rem;
    }

    /* Counter-Button */
    .counter-btn {
        margin-top: 5px;
        height: 4rem;
    }

    .counter-width {
        font-size: 1rem;
        width: 7.6875rem;
    }

    .add-to-cart-width {
        font-size: 1.2rem;
        width: 13.4375rem;
    }

    /* Cart Image */
    .cart-img {
        width: 6.9375rem;
        height: 5.625rem;
    }

    /* Pagination */
    .pag {
        font-size: 1.2rem;
    }
}


@media screen and (min-width:1440px) {
    .card_img {
        top: 8rem;
        right: 4rem;
        bottom: 0;
    }
}