* {
    font-family: 'Poppins', sans-serif;
}

.my {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mb {
    margin-bottom: -10px;
}

.bg_random {
    background: #FCF8F3;
    ;
}

/* Image Overlay Banner*/
.card_img {
    height: 180px;
    width: 208px;
}

.card_img {
    position: absolute;
    top: 4px;
    right: 90px;
    bottom: 0;
}

.title {
    color: #B88E2F;
    font-size: 1rem;
}

.bg {
    background-color: #B88E2F;
    padding: .5rem;
}

.text-light {
    text-decoration: none;
    font-size: .6rem;
}

.card-subtitle {
    font-size: .6rem;
}

.text {
    font-size: .6rem;
}

.Heading-1 {
    font-size: 1.5rem;
}

/* Slider  */
.d-block {
    height: 582px;
    width: 404px;
    margin: 0 20px;
}

/* Footer */
.footer {
    margin-top: auto;
}

.py-6 {
    padding-top: 3rem;
    /* padding-bottom: .2rem; */
}

.list-group-item {
    font-size: 1rem;
}

.white-space {
    white-space: pre-line;
}
.white-space-pre {
    white-space: pre;
}

.pt-half {
    padding-top: 1rem;
}

/* Card  */
.card img {
    transition: transform 0.5s;
    width: 100%;
}

.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.overlay {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}
.cardLhover img {
    transform: scale(1.2);
}

.card:hover .overlay{
    height: 100%;
}

/* Shop Page*/
/* Banner */
.link-black {
    text-decoration: none;
    color: #000;
}

@media screen and (min-width:768px) {
    .card_img {
        height: 260px;
        width: 338px;
    }

    .card_img {
        position: absolute;
        top: 5rem;
        right: 3rem;
        bottom: 0;
    }

    .text {
        font-size: .8rem;
    }

    .card-subtitle {
        font-size: .8rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-light {
        font-size: .8rem;
    }

    .Heading-1 {
        font-size: 2rem;
    }
}

@media screen and (min-width:1040px) {

    /* Image Overlay Banner*/
    .card_img {
        height: 443px;
        width: 643px;
    }

    .card_img {
        top: 10rem;
        right: 6rem;
    }

    .title {
        font-size: 3.25rem;
    }

    .bg {
        background-color: #B88E2F;
        padding: 34px 100px;
    }

    .text-light {
        font-size: 1rem;
    }

    .card-subtitle {
        font-size: 1rem;
    }

    .text {
        font-size: 1rem;
    }

    .Heading-1 {
        font-size: 2.5rem;
    }
}